@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 70, 70, 70;
    --background-end-rgb: 70, 70, 70;
}

.off{
  background-color: rgb(30,30,30);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.feature-shadow{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition-duration: 250ms;
}

.feature-shadow:hover{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.testimonial-shadow{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.faq-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.modal__overlay{
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 998;
  @apply backdrop-blur-sm cursor-pointer
}

.modal__container{
 @apply w-3/5 left-[20%] top-12 fixed bg-[rgb(100,100,100)] z-[999] text-sm h-fit my-auto rounded-2xl flex flex-col gap-5 p-10 shadow-2xl
}

.connectionOption{
  @apply flex gap-5 items-start
}

.connectionNumber{
  @apply bg-white text-black px-2  rounded-full
}